<div class="container">
  <h1>Sinatra Sandbox!</h1>

  <p>Get a Cool URL!</p>
  <form id="Get Cool URL" action="/cool_url" method="GET">
    <input type="radio" name="get_url" value="cnn.com" class="unique">CNN.com<br>
    <input type="radio" name="get_url" value="espn.com" class="unique">ESPN.com<br>
    <input type="submit" value="Get URL!">
  </form>
  <br>
  <p>Post a Cool URL!</p>
  <form id="Post Cool URL" action="/cool_url" method="POST">
    <select name="post_url">
      <option>CNN.com</option>
      <option>ESPN.com</option>
    <input type="submit" value="Post URL!">
  </form>
</div>
